body {
    max-width: 60rem;
    margin: 1rem auto 0 auto;
    background-color: black;
}

h1 {
    color: burlywood;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}